### Data Types

Numerics

In [1]:
a = 12

In [2]:
type(a)

int

In [3]:
b = 2.7

In [4]:
type(b)

float

In [5]:
b.is_integer()

False

In [6]:
c = 3 + 1j

In [7]:
type(c)

complex

In [8]:
c.conjugate()

(3-1j)

#### Operações com tipos numéricos:

In [9]:
print(9 + 8) # sum.
print(12 - 34) # sub.
print(12 * 3) # multi.
print(34 / 23) # division.
print(3 ** 5) # exp.
print(9 ** 0.5) # #sqrt(9)
print(501 % 10) # mod

17
-22
36
1.4782608695652173
243
3.0
1

In [5]:
a = input('Insert a number')

Insert a number23

In [7]:
a = 23
print(type(a))

<class 'int'>

In [8]:
b = 2 + 3j
print(type(b))

<class 'complex'>

In [9]:
c = a + b
print(type(c))

<class 'complex'>

##### Logical Operator

In [13]:
c = 2.5
d = 4
c > d

False

In [14]:
c = 2.5
d = 4
c <= d

True

In [10]:
c = 1 + 3j
d = 2 + 4j
# c > d

In [16]:
c == d

False

In [17]:
d != c

True

### List

In [11]:
lista = [1,2,2, [2,3,4], 3.9, 4, 2.8,'uma string']

In [12]:
lista

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'uma string']

##### Accessing list elements

obs.: O primeiro elemento possui índice 0.

In [13]:
lista[3]

[2, 3, 4]

In [21]:
lista[3][2]

4

In [22]:
lista[-1]

'uma string'

##### Adicionando novos elementos

In [14]:
seu_novo_nome = [2,6,3,8]

In [15]:
seu_novo_nome.append(23)

In [16]:
seu_novo_nome

[2, 6, 3, 8, 23]

In [17]:
seu_novo_nome.pop()

23

In [18]:
seu_novo_nome

[2, 6, 3, 8]

In [19]:
seu_novo_nome

[2, 6, 3, 8]

In [29]:
seu_novo_nome.append(4)

In [30]:
seu_novo_nome.extend([0,7,3])

In [31]:
seu_novo_nome

[2, 6, 3, 8, 4, 0, 7, 3]

In [32]:
seu_novo_nome.append([9,9])

In [33]:
seu_novo_nome.insert(2,5678)

In [34]:
seu_novo_nome

[2, 6, 5678, 3, 8, 4, 0, 7, 3, [9, 9]]

In [35]:
seu_novo_nome.pop()

[9, 9]

In [20]:
seu_novo_nome.sort()
seu_novo_nome

[2, 3, 6, 8]

### String

In [49]:
s1 = 'uma string'
s2 = "outra string"

In [50]:
print(s1)

uma string

In [51]:
s1

'uma string'

In [52]:
s2

'outra string'

In [53]:
s3 = "let's go to the classroom"
s3

"let's go to the classroom"

In [54]:
s4 = "nesta string eu tenho aspas simples (') e aspas duplas(\")"

In [55]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

In [56]:
print(s4)

nesta string eu tenho aspas simples (') e aspas duplas(")

In [57]:
s5 = 'let\'s stress'
s5

"let's stress"

In [58]:
s1+s2

'uma stringoutra string'

In [59]:
s1+' '+s2

'uma string outra string'

In [60]:
print('um comando' + ' ' + 'que ocupe' + ' ' + 'duas ou mais linhas')

um comando que ocupe duas ou mais linhas

In [61]:
s6 = 'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços \
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete \
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. \
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [62]:
s6

'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [63]:
print(s6)

RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.

In [64]:
s7 = '''
RIO - Brasília fechou 2015 com uma inflação de 11,95%, 
segundo o Índice de Preços ao Consumidor Semanal (IPC-S), 
medido pela Fundação Getulio Vargas (FGV). 
Entre as sete capitais pesquisadas pela FGV, a capital federal foi 
a que teve a maior alta de preços. Em 2014, Brasília havia registrado 
uma taxa de inflação de 6,74%.
'''

In [65]:
s7

'\nRIO - Brasília fechou 2015 com uma inflação de 11,95%, \nsegundo o Índice de Preços ao Consumidor Semanal (IPC-S), \nmedido pela Fundação Getulio Vargas (FGV). \nEntre as sete capitais pesquisadas pela FGV, a capital federal foi \na que teve a maior alta de preços. Em 2014, Brasília havia registrado \numa taxa de inflação de 6,74%.\n'

In [66]:
print(s7)

RIO - Brasília fechou 2015 com uma inflação de 11,95%,
segundo o Índice de Preços ao Consumidor Semanal (IPC-S),
medido pela Fundação Getulio Vargas (FGV).
Entre as sete capitais pesquisadas pela FGV, a capital federal foi
a que teve a maior alta de preços. Em 2014, Brasília havia registrado
uma taxa de inflação de 6,74%.

In [67]:
texto = 'uma linha \noutra linha'
print(texto)

uma linha
outra linha

In [68]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

#### Contando o número de aparições de um caracter

In [69]:
s4.count('a')

6

#### Modificando caracteres

In [70]:
s4 = s4.replace('a','@')

In [71]:
s4

'nest@ string eu tenho @sp@s simples (\') e @sp@s dupl@s(")'

#### Encontrando a posição da palavra

In [72]:
s4.find('simples')

28

In [73]:
s4[6]

's'

In [74]:
s4[28:]

'simples (\') e @sp@s dupl@s(")'

In [75]:
s4[s4.find('string'):s4.find('simples')+len('simples')]

'string eu tenho @sp@s simples'

In [76]:
s4[6:35]

'string eu tenho @sp@s simples'

### Boolean

In [85]:
'RENATO'.isupper()

True

In [86]:
b1 = True

In [87]:
b2 = False

In [88]:
b1 == b2

False

In [89]:
2 == 5

False

In [90]:
type(2 == 7)

bool

In [91]:
4 != 5

True

In [22]:
x = 1000
if (9 > 10) and (2 == (1 + 1)) and (7 <= 8):
    print('Correct')
if x == 4095:
    print('Okay')
else:
    print('nothing')
print('new block')

nothing
new block

### Sets

In [23]:
c1 = {1,2,3,3,3,3,3,4}

In [24]:
c1

{1, 2, 3, 4}

In [25]:
c2 = set([1,2,3,4,1,2])

In [26]:
c2

{1, 2, 3, 4}

In [27]:
lista3 = [1,2,3,'string']

In [28]:
conjunto = set(lista3)

In [29]:
conjunto

{1, 2, 3, 'string'}

In [30]:
conjunto2 = conjunto.union([9,8,7])

In [31]:
conjunto2

{1, 2, 3, 7, 8, 9, 'string'}

In [32]:
conjunto.intersection(conjunto2)

{1, 2, 3, 'string'}

In [33]:
lista3 = list(conjunto)

In [34]:
conjunto4 = set('uma string legal')

In [35]:
conjunto4

{' ', 'a', 'e', 'g', 'i', 'l', 'm', 'n', 'r', 's', 't', 'u'}

In [36]:
print(len('uma string legal'))
print(len(set('uma string legal')))

16
12

### Dict

In [38]:
dic = {'chave1':[1,2,3],'chave2':2,'outra chave':4,45:26, 'outro':23}
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23}

In [39]:
dic.update({2:3})

In [40]:
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23, 2: 3}

In [41]:
ficha = {'Peso':73, 'Altura':183, 'Idade':44, 'Nome':'Renato'}

In [42]:
ficha

{'Peso': 73, 'Altura': 183, 'Idade': 44, 'Nome': 'Renato'}

In [43]:
ficha['Idade']

44

### Tupla

In [44]:
t = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])

In [45]:
type(t)

tuple

In [46]:
t[0]

1

In [47]:
t[5]

4

In [48]:
t[3:6]

(4, 7, 4)

In [49]:
lista = [1,2,3]

In [50]:
tupla = tuple(lista)

In [51]:
tupla

(1, 2, 3)

In [52]:
lista2 = list(tupla)

In [53]:
lista2

[1, 2, 3]

In [54]:
d5 = {(1,2):'tupla'}
d5

{(1, 2): 'tupla'}

In [55]:
t2 = (2,4,7,2,2,2,2)

In [56]:
t2.count(2)

5

In [57]:
a = [1,2]

In [58]:
t = (a,a,a,a,a)
l = [a,a,a,a,a]

In [59]:
tupla_falsa = (1)
tupla_verdadeira = (1,)
print(type(tupla_falsa))
print(type(tupla_verdadeira))

<class 'int'>
<class 'tuple'>

Acessando cada elemento da tupla

In [60]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10